
// Manage main container size
.l-container {
    max-width : ($container-max-width + $gr-gutter-width);
    margin : 0 auto;
    padding-left: ($gr-gutter-width / 2);
    padding-right: ($gr-gutter-width / 2);
}
