{%
  set site = {
    title       : "Kickoff — 404",
    description : "Désolé, la page que vous recherchez n'existe pas."
  }
%}

{% extends "layouts/main.njk" %}

  {% block content %}
    {% include "partials/site-header.njk" %}

    <main>
      <h1>Kickoff — 404</h1>
      <p>
        Désolé, la page que vous recherchez n'existe pas.
      </p>
    </main>

    {% include "partials/site-footer.njk" %}
  {% endblock %}