{%
  set site = {
    title       : "Kickoff",
    description : "Stay tuned !"
  }
%}

{% extends "layouts/main.njk" %}

  {% block content %}
    {% include "partials/site-header.njk" %}

    <main>
      <div class="container">
        <div class="row">
          <div class="gr-8 gr-12@xs">
              Content with <a href="#">Link</a>
          </div>
          <div class="gr-4 gr-12@xs">
              Sidebar
          </div>
        </div>
      </div>
    </main>

    {% include "partials/site-footer.njk" %}
  {% endblock %}
