// --
// =Visibility
// --

//
// Theorically bulletproof CSS class for visually hide anything
// and keep it accessible to ATs.
// Check https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

//
// Use in conjunction with .sr-only to only display content when it's focused.
// Useful for skip links

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
    clip-path: none !important;
  height: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}
