//
// Display the currently active breakpoint in the top left corner
// of your project during development.
@if($show-breakpoints) {
  $mq-show-breakpoints: (map-keys($mq-breakpoints));
}

// Import sass-mq
@import "sass-mq/mq";

// Update label display of breakpoint
body::before {
  right: auto; left: 0;
  border-left: 0;
  border-right: 1px solid #fbeed5;
}
