<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">

<link rel="stylesheet" href="css/main.css" media="all">

{% include "../partials/generated/favicons.html" %}
<link type="text/plain" rel="author" href="./humans.txt">

{% block content %} {% endblock %}

<script src="js/main.js"></script>
