<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ site.title }}</title>
<meta name="description" content="{{ site.description }}">

<link rel="stylesheet" href="css/main.css">

{% include "../partials/generated/favicons.html" %}
<link rel="author" href="./humans.txt">

<body>
  {% block content %} {% endblock %}
</body>

<script src="js/main.js"></script>
