<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Kickoff</title>
<meta name="description" content="Description">

<link rel="stylesheet" href="css/main.css">

<link rel="author" href="./humans.txt">

<!-- Generate favicons meta -->

<body>
    <header>
        <div class="container">
            <h1>Kickoff</h1>
        </div>
    </header>


    <main>
        <div class="container">
            <div class="row">
                <div class="gr-8 gr-12@xs">
                    Content with <a href="#">Link</a>
                </div>
                <div class="gr-4 gr-12@xs">
                    Sidebar
                </div>
            </div>
        </div>
    </main>

    <footer></footer>
</body>

<script src="js/main.js"></script>
