<!DOCTYPE html>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Kickoff</title>
<meta name="description" content="Description">

<link rel="stylesheet" href="styles/css/main.css">

<!-- Generate favicons meta -->

<body>
    <header>
        <div class="l-container">
            <h1>Kickoff</h1>
        </div>
    </header>


    <main>
        <div class="l-container">
            <p>
                Lorem ipsum <a href="#">in dolor sit amet</a>.
            </p>
        </div>
    </main>

    <footer>
      <div class="l-container">
        <p>
          <button class="o-button o-button--primary">Lorem</button>
        </p>
      </div>
    </footer>
</body>

<script src="scripts/bundle/main.js"></script>
