//
// Datas to display the currently active breakpoint in the top left corner
// of your project during development.
$mq-show-breakpoints: (map-keys($mq-breakpoints));

// Import sass-mq
@import "sass-mq/mq";

// Update label display of breakpoint
body::before {
  right: auto; left: 0;
  border-left: 0;
  border-right: 1px solid #fbeed5;

  // Hide the currently active breakpoint if `$show-breakpoints` is `false
  @if($show-breakpoints == false) {
    content: none !important;
  }
}
