//
// Datas to display the currently active breakpoint in the top left corner
// of your project during development.
$mq-show-breakpoints: (map-keys($mq-breakpoints));

// Import sass-mq
@import "sass-mq/mq";

// Update label display of breakpoint
body::before {
  top: auto !important; bottom: 0 !important;
  border: 0 !important;

  // Hide the currently active breakpoint if `$show-breakpoints` is `false
  @if($show-breakpoints == false) {
    content: none !important;
  }
}

