// --
// Headings
// --

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: $headings-mb;
  font-family: $headings-ff;
  font-weight: $headings-fw;
  line-height: $headings-lh;
  color: $headings-clr;
}

h1 { font-size: $fs-h1; }
h2 { font-size: $fs-h2; }
h3 { font-size: $fs-h3; }
h4 { font-size: $fs-h4; }
h5 { font-size: $fs-h5; }
h6 { font-size: $fs-h6; }

//
// These declarations are kept separate from and placed after
// the previous tag-based declarations so that the classes beat the tags in
// the CSS cascade, and thus <h1 class="h2"> will be styled like an h2.
.h1 { font-size: $fs-h1; }
.h2 { font-size: $fs-h2; }
.h3 { font-size: $fs-h3; }
.h4 { font-size: $fs-h4; }
.h5 { font-size: $fs-h5; }
.h6 { font-size: $fs-h6; }
