// --
// =Colors
// --

$clr-primary   : #000;
$clr-secondary : #fff;


// --
// =Media Queries
// --

$mq-breakpoints: (
  'xs': 0px,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px
);

//
// If you want to display the currently active breakpoint in the top
// right corner of your site during development.
// `true` or `false` are accepted
$show-breakpoints: true;

//
// Default swaping breakpoint mobile/desktop
$breackpoint-swap : "lg";


// --
// =Grid
// --

$container-max-width : 1280px;

$gr-columns          : 12;
$gr-gutter-width     : 30px;


// --
// =Spacing
// --

$space-base       : 16px;
$space-xs         : 4px;
$space-s          : 8px;
$space-m          : 16px;
$space-l          : 32px;
$space-xl         : 64px;
$space            : $space-base;


// --
// =Scaffolding
// --

// Body
// --
$body-bkg              : $clr-secondary;
$txt-clr               : $clr-primary;

// Links
// --
$link-clr              : lighten($txt-clr, 50%);
$link-decoration       : underline;
$link-hover-clr        : lighten($link-clr, 25%);
$link-hover-decoration : underline;


// --
// =Typography
// --

// Fonts
// --
$ff-primary : "Helvetica Neue", Helvetica, Arial, sans-serif;

// Font weights
// --
$fw-primary-regular   : normal;

// Font sizes
// --

//
// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$fs-root : 16px;

$fs-base : 16px;

$fs-h1   : 32px;
$fs-h2   : 24px;
$fs-h3   : 18px;
$fs-h4   : 16px;
$fs-h5   : 13px;
$fs-h6   : 10px;

// Line-height
// --
$lh         : 1.5;

// Headings
// --
$headings-mb  : $space;
$headings-ff  : inherit;
$headings-fw  : 700;
$headings-lh  : 1.1;
$headings-clr : inherit;


// =Input
// =Buttons
// --
$input-button-padding-y              : $space-m;
$input-button-padding-x              : $space-xl;
$input-button-ff                     : $ff-primary;
$input-button-fw                     : $fw-primary-regular;
$input-button-fs-base                : 1rem;
$input-button-lh-base                : 1.1;
$input-button-border-w               : 0;
$input-button-border-radius          : 0;


// --
// =Z-index
// --

$z-modal   : 1100;
$z-overlay : 1000;
$z-navbar  : 500;


// --
// =Animations
// --

// Transition properties
// --
$transition-duration : 250ms;
$transition-easing   : ease;
